# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# =========================
# Virtual Environments
# =========================
env/
venv/
ENV/
.venv/
